@import url("https://use.typekit.net/mrm3nhj.css");
@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: apolline, serif;
  overflow-x: hidden;
  // background-color: $bgGrey;
}

* {
  box-sizing: border-box;
}

main {
  // padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .container {
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    display: flex;
    

    .section {
      display: block;
      margin: 2em;
  
      .sectionTitle {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 1.5em;
      }
  
    }
  }

}


