
.itemList {
    width: 75em;
    max-width: 100%;
    margin: 0 auto;

    ul {
        list-style: none;
        li {
            display: inline-block;
            width: 24em;
            min-height: 20em;
            margin-bottom: 2.5em;
            position: relative;
            text-align: center;

            a {
                color:#000;
            }

            img {
                height: 20em;
            }

            .info {
                display: block;

                .title {
                    font-size: 1.2em;
                    margin-top: 0.5em;
                    margin-bottom: 0.25em;
                }
                .author {
                    font-size: 1em;
                    margin-bottom: 1em;
                }
                .description {
                    margin-bottom: 1em;
                }
                .storeLink {
                    display: inline-block;
                    background-color: black;
                    padding: 0.5em 1em;
                    margin: 0.5em 0.5em 0.5em 0em;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                    
                    @media (hover: hover) {
                        &:hover {
                            background-color: blue;
                            // color: blue;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 75em) {
        width: 51em;
    }

    @media (max-width: 52em) {

        width: 100%;
        text-align: center;
    }
}